.intro-container {
  width: 100vw;
  height: 400px;
  background-color: #000;
  color: #fff;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-container > h1 {
  font-weight: 900;
  font-size: clamp(16px, 3vw, 48px);
  margin-right: clamp(16px, 5vw, 48px);
  flex: 0.6;
  text-transform: uppercase;
  border: 5px double #fff;
  padding: 16px;
  transition: all 0.2s ease-in-out;
}

.intro-container > p {
  font-weight: 300;
  font-size: clamp(14px, 2vw, 32px);
  flex: 0.4;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 400px) {
  .intro-container {
    padding: 1rem;
  }
}
