.banner-image {
  height: 80vh;
  filter: blur(4px);
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-container {
  width: 100vw;
}

.banner-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: lighter;
  border: 5px double #fff;
  position: absolute;
  top: 55vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 16px;
  text-align: center;
  font-size: clamp(12px, 2vw, 48px);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 900px) {
  .banner-text {
    width: 80vw;
    top: 50vh;
  }
}

@media screen and (max-width: 600px) {
  .banner-text {
    width: 90vw;
    top: 50vh;
  }
}
